:root {
  /* Color */
  --primary-text-color-theme-light: #434455;
  --secondary-text-color-theme-light: #2e2f42;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: #f4f4fd;
  --logo-color: #4d5ae5;
  --accent-color: #404bbf;
  /* --accent-color-footer: #31d0aa;
  --batton-background-theme-dark: #4d5ae5;
  --batton-background-accent: #404bbf;
  --customers-icon-color: #8e8f99;
  --color-for-input: rgba(46, 47, 66, 0.4); */
  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* object-fit: cover;
  object-position: center; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: rgb(248, 241, 229);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;

  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media only screen and (min-width: 1260px) {
    max-width: 1260px;
    padding: 0 15px;
  }
}

/* ==================================COMPONENTS=============================== */

/* =================================/COMPONENTS=============================== */

/* ====================================HEADER================================= */
/* header{
  padding: 20px 0;
} */

@media screen and (min-width: 768px) {
  header .container {
    display: flex;
    justify-content: space-between;
  }
}


.logo {
  display: none;
 }

@media screen and (min-width: 768px) {
  .logo {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
  }

  .logo-accent {
    color: var(--logo-color);
  }
}

.header-contacts {
  font-size: 16px;
  text-align: center;
  background: linear-gradient(45deg, red, blue, green);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    font-size: 20px;
  }
}

/* ===================================/HEADER================================= */

/* =====================================HERO================================== */

/* ====================================/HERO================================== */

/* =====================================GALLERY================================== */

/* Button-filter */

.button-filter-list {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 20px;
  background-color: rgb(248, 241, 229);

  @media screen and (min-width: 768px) {
    gap: 24px;
    /* justify-content: center;
    margin-bottom: 64px; */
  }

  /* @media only screen and (min-width: 1158px) {
    justify-content: center;
    margin-bottom: 72px;
  } */
}

@media screen and (max-width: 768px) {
  .plus-768px {
    display: none;
  }
}

.filter-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--secondary-text-color-theme-dark);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

/* /Button-filter */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;

  @media screen and (max-width: 1158px) {
      justify-content: center;
    }
}

.gallery-item {
  position: relative;
  /* Для вирівнювання артикулів товару через різні розміри фото */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* /Для вирівнювання артикулів товару через різні розміри фото */
  background-color: var(--primary-text-color-theme-dark);
  /* transition: transform var(--animation-duration) var(--timing-function); */
}

/* .gallery-item:hover {
  transform: scale(1.03);
} */

/* .gallery-img{

} */

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-transform: uppercase; */
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0.05;
  color: #372c2c;
  opacity: 0.6;
}

.callery-wrapper {
  padding: 10px;
  text-align: center;
  
}

.gallery-img-wrapper{
  position: relative;
}

.sketch {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: transform var(--animation-duration) var(--timing-function);
}

 .sketch:hover {
   transform: scale(1.05);
 }

/* ====================================/GALLERY================================== */
